<!-- Tools Sektion -->
<section id="tools-section" class="tools">
    <!-- Sektion Header -->
    <div class="tools__header">
        <span class="tools__label section-label mono" (click)="scrollToSection()" style="cursor: pointer;">{{
            'tools.label' | translate }}</span>
        <h2 id="tools" class="tools__title">
            {{ 'tools.titleStart' | translate }} <span class="text--glossy">{{ 'tools.titleHighlight' | translate
                }}</span>
        </h2>
        <p class="tools__intro">
            {{ 'tools.intro' | translate }}
        </p>
    </div>

    <!-- Tool-Karten Grid -->
    <div class="tools__grid">
        @for (tool of tools; track tool.id) {
        <div [id]="'tool-' + tool.id" class="tools__item">
            <app-card [title]="tool.name" [label]="tool.label" [showExternalIcon]="true"
                [externalLink]="tool.link || ''">
                <p>{{ 'tools.desc.' + tool.id | translate }}</p>
            </app-card>
        </div>
        }
    </div>
</section>