<!-- About Me Sektion -->
<section class="about-me">
    <!-- Technisches Label -->
    <span class="about-me__label mono section-label">{{ 'aboutMe.label' | translate }}</span>

    <!-- Überschrift -->
    <h2 id="about-me" class="about-me__title">
        {{ 'aboutMe.titleStart' | translate }} <span class="text--glossy">{{ 'aboutMe.titleHighlight' | translate }}</span>
    </h2>

    <!-- Beschreibung -->
    <div class="about-me__content">
        <p class="about-me__text">
            {{ 'aboutMe.text1' | translate }}
        </p>

        <p class="about-me__text">
            {{ 'aboutMe.text2' | translate }}
        </p>
    </div>
</section>